@font-face {
  font-family: "BebasNeue Regular";
  src: url("./fonts/BebasNeue/BebasNeue Regular.otf");
}

@font-face {
  font-family: "BebasNeue Light";
  src: url("./fonts/BebasNeue/BebasNeue Light.otf");
}

@font-face {
  font-family: "BebasNeue Book";
  src: url("./fonts/BebasNeue/BebasNeue Book.otf");
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("./fonts/BebasNeue/BebasNeue Bold.otf");
}

@font-face {
  font-family: "BebasNeue Thin";
  src: url("./fonts/BebasNeue/BebasNeue Thin.otf");
}
